.icon {
    cursor: pointer;
    display: inline-block;
    min-width: 18px;
    min-height: 20px;
    background-color: #8992a9;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
  }
  .icon.mail{
  mask-image: url("../icon/mail.svg");
  -webkit-mask-image: url("../icon//mail.svg");
  
  background-color: #ffffff;
  }
  .icon.phone{
    mask-image: url("../icon/phone.svg");
    -webkit-mask-image: url("../icon//phone.svg");
    background-color: #ffffff;
    }
  
  .icon.facebook{
    mask-image: url("../icon/facebook-square-brands\ \(1\)\ 1.svg");
    -webkit-mask-image: url("../icon/facebook-square-brands\ \(1\)\ 1.svg");
    background-color: #ffffff;
    }
    
  .icon.insta{
    mask-image: url("../icon/instagram-square-brands\ 1.svg");
    -webkit-mask-image: url("../icon/instagram-square-brands\ 1.svg");
    background-color: #ffffff;
    }
    .icon.telegram{
      mask-image: url("../icon/telegram-brands\ 1.svg");
      -webkit-mask-image: url("../icon/telegram-brands\ 1.svg");
      background-color: #ffffff;
      }
      .icon.twiter{
        mask-image: url("../icon/twitter-square-brands\ 1.svg");
        -webkit-mask-image: url("../icon/twitter-square-brands\ 1.svg");
        background-color: #ffffff;
        }